h1 {
  padding: 50px;
  background-color: #DDE0E3;    /* Light gray */
  border: 1px solid #5D6063;
}

p {
  background-color: #DDE0E3;    /* Light gray */
  padding: 20px 0 20px 10px;
  margin-bottom: 50px;          /* Add this */
}

em, strong {
  background-color: #B2D6FF;    /* Light blue */
  display: block;
}

div {
  color: #FFF;
  background-color: #5995DA;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 5px solid #5D6063;
  border-radius: 5px;

  width: 200px;
  box-sizing: border-box;  /* Add this */
  margin: 20px auto; /* Vertical  Horizontal */
}
