body {
  color: #414141; /* makes all text grey */
  background-color: #eeeeee;
}

h1 {
  font-size: 36px;
  font-family: "Helvetica", "Arial", sans-serif;
}

h2 {
  font-size: 1.6em;
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: lower-roman;
}

a {
  text-decoration: none;
}
