@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Light-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-LightItalic-webfont.woff') format('woff');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Bold-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.8em;
  color: #5D6063;
}
em {
  font-style: italic;
}

strong {
  font-weight: bold;  /* Or 700 */
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  font-weight: normal;
  font-style: normal;
}


header {
  text-align: center;
  color: #FFF;
}

nav {
  background-color: #54575A;
}

nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

nav li {
  list-style-type: none;

  width: 50%;
  padding-top: .5em;
  padding-bottom: .5em;

  border-top: 1px solid #888F95;
}

nav li:nth-of-type(1),
nav li:nth-of-type(2) {
  border-top: none;
}

nav li:nth-of-type(2n) {
  border-left: 1px solid #888F95;
}

nav li.selected {
  color: #54A5C4;
}

nav a:link,
nav a:visited {
  color: #888F95;
  text-decoration: none;
}

nav a:hover,
nav a:visited:hover,
nav a:active,
nav a:visited:active {
  color: #54A5C4;
  text-decoration: underline;
}


.hero {
  padding-top: 9em;
  padding-bottom: 9em;
  background-color: #5D6063;
}

.hero h1 {
  font-size: 50px;
}


.section {
  padding: 4em 1em;

  margin: 0 auto;
  max-width: 540px;
}

.section h2 {
  font-size: 30px;
  margin-bottom: .7em;
}

.section--gray {
  border-top: 1px solid #D6D9DC;
}

.section--blue {
  border-top: 1px solid #B2D6FF;
}

.section--blue h2 {
  color: #5995DA;
}

.section--red {
  border-top: 1px solid #F09A9D;
}

.section--red h2 {
  color: #D55C5F;
}

.section:first-of-type {
  border-top: none;
}

.section p,
.section ul,
.section ol,
.section figure {
  margin-bottom: 1em;
}

.section p:last-child,
.section ul:last-child,
.section ol:last-child,
.section figure:last-child {
  margin-bottom: 0;
}

.button:link,
.button:visited {
  display: block;
  text-decoration: none;

  color: #FFF;
  background-color: #4A90E2;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  text-align: center;

  margin: 1.8em auto;
}

.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #6AA9F4;
}

.button:active,
.button:visited:active {
  color: #FFF;
  background-color: #3F7CC4;
}

@media only screen and (min-width: 580px) {
  .section {
    margin: 4em auto;
    padding: 2.5em 3em;
  }
  .section--gray:first-of-type,
  .section--gray {
    border: 1px solid #D6D9DC;
  }
  .section--blue:first-of-type,
  .section--blue {
    border: 1px solid #B2D6FF;
  }
  .section--red:first-of-type,
  .section--red {
    border: 1px solid #F09A9D;
  }
}


@media only screen and (min-width: 750px) {
  nav {
    padding-left: 2em;
    padding-right: 2em;
  }
  nav li {
    width: auto;
    border-top: none;
  }

  nav li:nth-of-type(2n) {
    border-left: none;
  }
}
